<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.member.mapper.MemberMapper">
    <resultMap id="memberMap" type="MemberVO" autoMapping="true">
        <id property="id" column="id" />
    </resultMap>

    <select id="selectMembers" resultMap="memberMap">
        SELECT id, name, email, pwd, kakao_user_id, phone, age, profile_img, created_type, reg_date, reg_ip, recent_ip, is_disable, is_delete
        FROM member_tbl
    </select>

    <select id="selectMemberById" resultMap="memberMap">
        SELECT *
        FROM member_tbl
        where id = #{id}
    </select>

    <select id="selectMemberByEmail" resultType="com.lighthouse.member.vo.MemberVO">
        SELECT *
        FROM member_tbl
        WHERE email = #{email}
    </select>

    <select id="selectMemberByKakaoUserId" resultType="com.lighthouse.member.vo.MemberVO">
        SELECT *
        FROM member_tbl
        WHERE kakao_user_id = #{kakaoUserId}
    </select>

    <insert id="insertUser">
        INSERT INTO member_tbl
        (name, email, pwd, kakao_user_id, phone, age, role, profile_img, created_type, reg_date, reg_ip, recent_ip, is_disable, is_delete)
        VALUES (#{name}, #{email}, #{pwd}, #{kakaoUserId}, #{phone}, #{age}, #{role}, "", #{createdType}, now(), #{regIp}, #{recentIp}, 1, 1)
    </insert>

    <update id="updateUser">
        UPDATE member_tbl
        SET name        = #{name},
            email       = #{email},
            pwd         = #{pwd},
            phone       = #{phone},
            age         = #{age},
            profile_img = #{profileImg},
            recent_ip   = #{recentIp}
        WHERE id = #{id}
    </update>
</mapper>