<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.member.mapper.MemberMapper">
    <resultMap id="memberMap" type="Member" autoMapping="true">
        <id property="id" column="id" />
    </resultMap>

    <select id="findAllMembers" resultMap="memberMap">
        SELECT *
        FROM member_tbl
    </select>

    <select id="findMemberById" resultMap="memberMap">
        SELECT *
        FROM member_tbl
        WHERE id = #{id}
          AND is_delete = 1
    </select>

    <select id="findDeletedMemberById" resultMap="memberMap">
        SELECT *
        FROM member_tbl
        WHERE id = #{id}
          AND is_delete = 2
    </select>

    <select id="findMemberByEmail" resultMap="memberMap">
        SELECT *
        FROM member_tbl
        WHERE email = #{email}
          AND is_delete = 1
    </select>

    <select id="findMemberByKakaoId" resultMap="memberMap">
        SELECT *
        FROM member_tbl
        WHERE kakao_id = #{kakaoId}
          AND is_delete = 1
    </select>

    <select id="findMemberByGoogleId" resultMap="memberMap">
        SELECT *
        FROM member_tbl
        WHERE google_id = #{googleId}
          AND is_delete = 1
    </select>

    <select id="existsByEmail" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM member_tbl
            WHERE email = #{email}
              AND is_delete = 1)
    </select>

    <select id="existsByKakaoId" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM member_tbl
            WHERE kakao_id = #{kakaoId}
              AND is_delete = 1)
    </select>

    <select id="existsByGoogleId" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM member_tbl
            WHERE google_id = #{googleId}
              AND is_delete = 1)
    </select>

    <insert id="insertMember">
        INSERT INTO member_tbl
        (name, email, pwd, kakao_id, google_id, phone, age, role, profile_img, created_type, reg_date, reg_ip, recent_ip, is_disable, is_delete)
        VALUES (#{name}, #{email}, #{pwd}, #{kakaoId}, #{googleId}, #{phone}, #{age}, #{role}, "", #{createdType}, now(), #{regIp}, #{recentIp}, 1, 1)
    </insert>

    <update id="updateMember">
        UPDATE member_tbl
        SET name        = #{name},
            pwd         = #{pwd},
            phone       = #{phone},
            age         = #{age},
            profile_img = #{profileImg},
            recent_ip   = #{recentIp},
            is_delete   = #{isDelete}
        WHERE id = #{id}
    </update>
</mapper>