# Java
*.class
bin

# Gradle
/build/
/.gradle/
/out/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.ipr

# VsCode
.vscode

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local configs
*.env

# DB test
DBset.sql

# test config
src/test/resources/application-test.properties