<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lighthouse.localinfo.mapper.LocalInfoMapper">

    <select id="findByLocataddnm" resultType="com.lighthouse.localinfo.dto.LocalInfoResponseDTO">
        SELECT
            region_cd    AS regionCd,
            grid_x       AS gridX,
            grid_y       AS gridY,
            locatadd_nm  AS locataddNm,  locatadd_nm  AS region
        FROM
            ${API_LAWD_CD}
        WHERE
            locatadd_nm = #{locataddnm}
            LIMIT 1
    </select>

    <select id="findByRegionCd" resultType="com.lighthouse.localinfo.dto.LocalInfoResponseDTO">
    SELECT
    region_cd   AS regionCd,
    locatadd_nm AS locataddNm,
    grid_x      AS gridX,
    grid_y      AS gridY,
    sido_cd     AS sidoCd,
    sgg_cd      AS sggCd

    FROM
        ${API_LAWD_CD}
    WHERE
    region_cd = #{regionCd}
    LIMIT 1
    </select>

    <select id="findAllRegions" resultType="com.lighthouse.localinfo.dto.LocalInfoResponseDTO">
        SELECT region_cd, locatadd_nm, grid_x, grid_y, sido_cd, sgg_cd
        FROM ${API_LAWD_CD}
        WHERE region_cd NOT LIKE '__000%'    /* 두 번째 블록 제외 */
          AND region_cd NOT LIKE '_____000%' /* 세 번째 블록 제외 */
          AND RIGHT(region_cd, 2) = '00'     /* 마지막 블록 */
    </select>
</mapper>