<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.localinfo.mapper.PopulationMapper">
    <select id="findByRegionCd" resultType="com.lighthouse.localinfo.dto.PopulationDTO">
        SELECT
            p.region_cd AS regionCd,
            p.pop_total AS populationTotal,
            p.pop_youth AS populationYouth
        FROM
            population_tbl p
        WHERE
            p.region_cd = #{regionCd}
            LIMIT 1
    </select>
</mapper>