<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.localinfo.mapper.SafetyMapper">

    <select id="findSafetyDetailsByRegionCd" resultType="com.lighthouse.localinfo.dto.SafatyDTO">
        SELECT
            region_cd AS regionCd,
            COUNT(*) AS totalCount
        FROM
            safe_bell
        WHERE
            region_cd = #{regionCd}
        GROUP BY
            region_cd
            LIMIT 1
    </select>

</mapper>