<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.localinfo.mapper.WeatherMapper">

    <!-- 모든 지역 조회 -->
    <select id="findAll" resultType="com.lighthouse.localinfo.entity.Weather">
        SELECT id, sido_cd as sidoCd, sgg_cd as sggCd, region,
               grid_x as gridX, grid_y as gridY,
               sky_condition as skyCondition, temperature, max_temperature as maxTemperature,
               min_temperature as minTemperature, base_date as baseDate, base_time as baseTime,
               fcst_date as fcstDate, fcst_time as fcstTime, created_at as createdAt,
               updated_at as updatedAt
        FROM api_weather_tbl
    </select>

    <select id="findByGrid" resultType="com.lighthouse.localinfo.entity.Weather">
        SELECT id, sido_cd as sidoCd, sgg_cd as sggCd, region,
               grid_x as gridX, grid_y as gridY,
               sky_condition as skyCondition, temperature, max_temperature as maxTemperature,
               min_temperature as minTemperature, base_date as baseDate, base_time as baseTime,
               fcst_date as fcstDate, fcst_time as fcstTime, created_at as createdAt,
               updated_at as updatedAt
        FROM api_weather_tbl
        WHERE grid_x = #{gridX} AND grid_y = #{gridY}
    </select>

    <!-- 날씨 데이터 업데이트 -->
    <update id="updateWeather" parameterType="com.lighthouse.localinfo.entity.Weather">
        UPDATE api_weather_tbl
        SET sky_condition = #{skyCondition},
            temperature = #{temperature},
            max_temperature = #{maxTemperature},
            min_temperature = #{minTemperature},
            base_date = #{baseDate},
            base_time = #{baseTime},
            updated_at = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>


</mapper>