<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.regionCode.mapper.RegionCodeMapper">
    <select id="findAllRegionByPartialCd" parameterType="com.lighthouse.regionCode.dto.RegionCdRequestDTO" resultType="com.lighthouse.regionCode.dto.RegionCdResponseDTO">
        SELECT region_cd, locatadd_nm, locallow_nm, grid_x, grid_y
        FROM ${API_LAWD_CD}
        <where>
            <if test="sidoCd != null and sidoCd != ''">
                AND sido_cd = #{sidoCd}
            </if>
            <if test="sggCd != null and sggCd != ''">
                AND sgg_cd = #{sggCd}
            </if>
            <if test="umdCd != null and umdCd != ''">
                AND umd_cd = #{umdCd}
            </if>
        </where>
    </select>
    <select id="findByFullRegionCd" resultType="com.lighthouse.regionCode.dto.RegionCdResponseDTO">
        SELECT region_cd, locatadd_nm, locallow_nm, grid_x, grid_y
        FROM ${API_LAWD_CD}
        WHERE region_cd = #{regionCd}
    </select>
</mapper>
