<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.youthProgram.mapper.YouthProgramReadMapper">

    <insert id="insertReadRecord" parameterType="map">
        INSERT IGNORE INTO youth_program_read_tbl (member_id, content_id)
        VALUES (#{memberId}, #{contentId})
    </insert>

</mapper>