<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.youthProgram.mapper.YouthProgramMapper">

    <select id="existsByPostSn" resultType="boolean" parameterType="String">
        SELECT COUNT(*) > 0 FROM ${API_YOUTH_PROGRAM} WHERE pst_sn = #{pstSn}
    </select>

    <insert id="insertYouthProgram" parameterType="com.lighthouse.youthProgram.dto.YouthProgramDTO">
        INSERT INTO ${API_YOUTH_PROGRAM} (
        bbs_sn, pst_sn, pst_se_sn, pst_se_nm, pst_ttl, pst_whol_cn,
        pst_inq_cnt, pst_url_addr, atch_file,
        frst_rgtr_nm, frst_reg_dt, last_mdfr_nm, last_mdfcn_dt
        ) VALUES (
        #{bbsSn}, #{pstSn}, #{pstSeSn}, #{pstSeNm}, #{pstTtl}, #{pstWholCn},
        #{pstInqCnt}, #{pstUrlAddr}, #{atchFile},
        #{frstRgtrNm}, #{frstRegDt}, #{lastMdfrNm}, #{lastMdfcnDt}
        )
    </insert>

    <select id="findAllUnreadPrograms" resultType="com.lighthouse.youthProgram.dto.YouthProgramDTO">
        SELECT *
        FROM ${API_YOUTH_PROGRAM} yp
        WHERE NOT EXISTS (
        SELECT 1 FROM youth_program_read_tbl ypr
        WHERE ypr.member_id = #{memberId}
        AND ypr.content_id = yp.id
        )
        ORDER BY yp.frst_reg_dt DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

</mapper>