<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.safereport.mapper.SafeReportMapper">


    <select id="getViolateAndPurpose" resultType="com.lighthouse.safereport.vo.BuildingTypeAndPurpose">
        SELECT
            A.res_violation_status AS violationStatus,
            B.res_use_type AS buildingPurpose
        FROM
            api_building_register A
                LEFT JOIN
            api_building_register_building_status B
            ON
                A.id = B.register_id
        WHERE
            A.latitude BETWEEN #{lat} - 0.0001 AND #{lat} + 0.0001
          AND A.longitude BETWEEN #{lng} - 0.0001 AND #{lng} + 0.0001
        LIMIT 1;
    </select>
</mapper>