<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.wishlist.mapper.SearchHistoryMapper">
    <insert id="saveSearchHistory">
        INSERT INTO ${ESTATE_SEARCH_HISTORY_TBL} (
            member_id, keyword
        ) VALUES (
            #{memberId}, #{keyword}
        )
    </insert>
    <select id="findSearchHistoryByMemberId" resultType="com.lighthouse.wishlist.dto.SearchHistoryResponseDTO">
        SELECT keyword
        FROM ${ESTATE_SEARCH_HISTORY_TBL}
        WHERE member_id = #{memberId}
    </select>
</mapper>
