<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.security.mapper.UserDetailsMapper">
    <resultMap id="memberMap" type="MemberVO" autoMapping="true">
        <id property="id" column="id" />
        <!-- 같은 이름 매핑은 자동으로 되므로 별도 선언 생략 -->
    </resultMap>
    <select id="get" resultMap="memberMap">
        SELECT id, name, email, pwd, phone, age, profile_img, created_type, reg_date, reg_ip, recent_ip, is_disable, is_delete
        FROM member_tbl
        <where>
            <choose>
                <when test="created_type = 1">
                    email = #{email}
                </when>
                <when test="created_type = 2">
                    kakao_id = #{kakaoId}
                </when>
                <when test="created_type = 3">
                    google_id = #{googleId}
                </when>
            </choose>
        </where>
    </select>
</mapper>