<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.security.mapper.UserDetailsMapper">
    <!-- AuthList 생성 위해 사용 -->
    <resultMap id="authMap" type="AuthVO">
        <result property="username" column="username" />
        <result property="auth" column="auth" />
    </resultMap>
    <resultMap id="memberMap" type="MemberVO" autoMapping="true">
        <id property="username" column="username" />
        <!-- 같은 이름 매핑은 자동으로 되므로 별도 선언 생략 -->
        <collection property="authList" resultMap="authMap" />
    </resultMap>
    <select id="get" resultMap="memberMap">
        select m.username, password, reg_date, update_date, auth
        from
            tbl_member m left outer join tbl_member_auth a
                                         on m.username = a.username
        where m.username = #{username}
    </select>
</mapper>