<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lighthouse.member.mapper.MemberMapper">
    <resultMap id="authMap" type="AuthVO" autoMapping="true">
    </resultMap>
    <resultMap id="memberMap" type="MemberVO" autoMapping="true">
        <id property="username" column="username" />
        <collection property="authList" resultMap="authMap" />
    </resultMap>

    <select id="selectMemberByUsername" resultMap="memberMap">
        SELECT m.username, password, email, reg_date, update_date, auth
        FROM
        tbl_member m
        LEFT OUTER JOIN tbl_member_auth a
        ON m.username = a.username
        where m.username = #{username}
    </select>

    <select id="selectMembers" resultMap="memberMap">
        SELECT m.username, password, email, reg_date, update_date, auth
        FROM tbl_member m
                 LEFT OUTER JOIN tbl_member_auth a ON m.username = a.username
    </select>
</mapper>