<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lighthouse.estate.mapper.EstateMapper">

    <resultMap id="EstateMap" type="com.lighthouse.estate.entity.Estate" autoMapping="true">
        <id property="id" column="id" />
    </resultMap>

    <resultMap id="EstateSalesMap" type="com.lighthouse.estate.entity.EstateSales" autoMapping="true">
        <id property="id" column="id" />
    </resultMap>

        <!-- 위도/경도에 해당하는 건물 정보 조회 (단일 건물) -->
    <select id="getEstateByLatLng" resultMap="EstateMap">
        SELECT
            *
        FROM
            estate_api_integration_tbl 
        WHERE
            latitude BETWEEN #{lat} - 0.0001 AND #{lat} + 0.0001
          AND longitude BETWEEN #{lng} - 0.0001 AND #{lng} + 0.0001
          <!-- 현재는 real_estate와 real_estate_saelse가 1:다가 아닌 다:다라서 limit 적용했습니다. -->
        LIMIT 1
        
    </select>

    <!-- 건물 ID로 매매 정보 조회 -->
    <select id="getSalesByEstateId" resultMap="EstateSalesMap">
        SELECT
            *
        FROM
            estate_api_integration_sales_tbl 
        WHERE
            estate_id = #{estateId}
    </select>

    <!-- 지도 사각형 영역 내 건물들 정보 조회 (다건 조회)-->
    <select id="getEstateBySqaure" resultMap="EstateMap">
        SELECT
            *
        FROM
            estate_api_integration_tbl 
        WHERE
            latitude BETWEEN #{minLat} AND #{maxLat}
          AND longitude BETWEEN #{minLng} AND #{maxLng}
    
    </select>

</mapper> 